*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit;
  }
  
  img,
  svg {
    display: block;
    max-width: 100%;
  }

body {
    font-family: 'Hanken Grotesk';
    font-weight: 500;
    font-size: 1.125rem;

    min-height: 100vh;
}

.results {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 0 0 1.25em 1.25em;
    overflow: hidden;
    text-align: center;

    color: hsla(0, 0%, 100%, .7);

    display: grid;
    gap: 2em;
    padding: 2em;
    justify-content: center;
}

.results h1 {
    font-size: 1.5rem;
    font-weight: 800;
}

.result-score {
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    width: 12rem;
    margin-inline: auto;
    aspect-ratio: 1 / 1;
    line-height: 1.1;
    color: hsla(0, 0%, 100%, .5);

    display: grid;
    place-content: center;

}

.result-score span {
    display: block;
    font-weight: 900;
    font-size: 5rem;
    color: hsl(0, 0%, 100%);
}

.result-rank {
    color: white;
    font-size: 2rem;
    font-weight: 700;

    margin-bottom: .5em;
}

.summary {
    padding: 2em;
    display: grid;
    gap: 2em;
}

.items {
    display: grid;
    gap: .75em;
}

.summary h2 {
    font-weight: 800;
    font-size: 1.5rem;
    color: hsl(224, 30%, 27%);

    margin: 0;
}

.btn {
    cursor: pointer;
    border: 0;
    border-radius: 100vw;
    line-height: 1.6;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color: hsl(0, 0%, 100%);

    padding: 1rem 2rem;
}

.btn:hover {
    background: hsl(224, 30%, 27%)
}

@media (min-width:800px) {
    body {
        display: grid;
        place-content: center;
    }

    .result-summary {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 730px;

        margin-inline: 2em;
        border-radius: 2rem;
        box-shadow: .5rem 1rem 3rem hsl(224, 30%, 27%, .2);
    }

    .results {
        border-radius: 1.5em;
        padding: 2.125em 4rem;
    }

    .summary {
        padding: 2em 3rem;
    }
}