.flex-group {
    display: flex;
    gap: 1em;
    align-items: center;
}

.summary-item {
    justify-content: space-between;
    padding: 1rem;
    border-radius: .5em;
}

.summary-score {
    color: hsla(224, 30%, 27%, .5);
    font-weight: 700;
}

.summary-score span {
    font-weight: 800;
    color: hsl(224, 30%, 27%);
}

.item-red {
    background-color: hsla(0, 100%, 67%, .1);;
    color: hsl(0, 100%, 67%);
}

.item-yellow {
    background-color: hsla(39, 100%, 56%, .1);
    color: hsl(39, 100%, 56%);
}

.item-green {
    background-color: hsla(166, 100%, 37%, .1);
    color: hsl(166, 100%, 37%);
}

.item-blue {
    background-color: hsla(234, 85%, 45%, .1);
    color: hsl(234, 85%, 45%);
}
